<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mailing_chimp</title>
    <!-- Linking Google font link for icons -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <aside class="sidebar">
                    <div class="logo">
                        <img src='{% static "css/images/PLavatar1.png" %}' alt="logo">
                        <h2>MailingChimp</h2>
                    </div>
                    <ul class="links">
                        <h4>Меню</h4>
                        <li>
                            <span class="material-symbols-outlined">home</span>
                            <a href="{% url 'mailing:main' %}">Главная</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <span class="material-symbols-outlined">mail</span>
                            <a href="{% url 'mailing:mailingsettings_list' %}">Рассылки</a>
                        </li>
                            {% if perms.mailing.view_client %}
                        <li>
                            <span class="material-symbols-outlined">groups</span>
                            <a href="{% url 'mailing:client_list' %}">Клиенты</a>
                        </li>
                            {% endif %}
                            {% if perms.mailing.view_mailingmessage %}
                        <li>
                            <span class="material-symbols-outlined">message</span>
                            <a href="{% url 'mailing:messages' %}">Сообщение</a>
                        </li>
                            {% endif %}
                        <li>
                            <span class="material-symbols-outlined">info</span>
                            <a href="{% url 'mailing:mailing_logs' %}">Информация</a>
                        </li>
                        {% endif %}
                        <hr>
                        <h4>Новости</h4>
                        <li>
                            <span class="material-symbols-outlined">list</span>
                            <a href="{% url 'blog:blog_list' %}">Блог</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">contacts</span>
                            <a href="{% url 'mailing:contacts' %}">Контакты</a>
                        </li>
                        <hr>

                        <h4>Аккаунт</h4>
                        {% if user.is_authenticated %}
                        <li>
                            <span class="material-symbols-outlined">settings</span>
                            <a href="{% url 'users:profile' %}">Профиль</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">logout</span>
                            <a href="{% url 'users:logout' %}">Выйти</a>
                        </li>
                        {% else %}
                        <li>
                            <span class="material-symbols-outlined">login</span>
                            <a href="{% url 'users:login' %}">Войти</a>
                        </li>
                        <li>
                            <span class="material-symbols-outlined">add_reaction</span>
                            <a href="{% url 'users:register' %}">Регистрация</a>
                        </li>
                        {% endif %}
                        <li>
                            <span class="material-symbols-outlined">support_agent</span>
                            <a href="/admin/">admin</a>
                        </li>
                    </ul>

                </aside>
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>