{% extends 'mailing/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col-12" style="margin-top:50px">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ object.letter_subject }}</h5>
                    <p class="card-text">{{ object.letter_body }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a href="{% url 'mailing:update_message' object.pk %}"
                                   class="btn btn-outline-secondary border-1">Изменить
                                </a>
                                <a href="{% url 'mailing:delete_message' object.pk %}"
                                   class="btn btn-outline-secondary border-1">Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}