{% extends 'mailing/base.html' %}
{% block content %}

<div style="margin-top: 50px">
    <a type="button" class="btn btn-block btn-outline-success col-2 mb-3"
       href="{% url 'mailing:create_message' %}">Добавить сообщение</a>
</div>
{% for object in object_list %}
<div class="col-12">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-primary bg-transparent h-100">
                <div class="card-header" style="vertical-align:middle>
                    <h5 class=" card-title
                ">Тема сообщения: {{ object.letter_subject }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ object.letter_body }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div role="button" aria-label="Basic outlined example">
                            <a href="{% url 'mailing:update_message' object.pk %}"
                               class="btn btn-outline-warning">Изменить</a>
                            <a href="{% url 'mailing:delete_message' object.pk %}"
                               class="btn btn-outline-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}