{% extends 'mailing/base.html' %}

{% block content %}
<div class="col-12">
  <div class="row">
    <div class="col-6">
      <div class="card bg-transparent">
        <div class="card-body">
          <form method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if object %}
            <button type="submit" class="btn btn-primary">Изменить</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Создать</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}