{% extends 'mailing/base.html' %}
{% load tags_filters %}
{% block title %} News {% endblock title %}
{% block content %}
<div style="margin-top: 50px">
    <a type="button" class="btn btn-block btn-outline-success col-2 mb-3"
       href="{% url 'blog:create_blog' %}">Добавить запись</a>
</div>
<div class="row row-cols-1 row-cols-md-2 g-2">
    {% for object in object_list %}
    <div class="col">
        <div class="card h-100 bg-transparent">
            <img src="{{ object.image|mediapath }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{% url 'blog:detail_blog' object.pk %}" class="btn btn-outline-warning border-1">View
                            </a>
                            <a href="{% url 'blog:update_blog' object.pk %}" class="btn btn-outline-warning border-1">Edit
                            </a>
                            <a href="{% url 'blog:delete_blog' object.pk %}" class="btn btn-outline-warning border-1">Delete
                            </a>
                        </div>
                    </div>
                    <div class="col" align="right" style="margin-top:5px">
                        <small class="text-dark">Просмотры: {{ object.view_count }}</small>
                    </div>
                </div>
                <div class="col" align="right" style="margin-top:5px">
                    <small class="text-dark">{{ object.creation_date }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
