{% extends 'mailing/base.html' %}

{% block content %}
<div class="col-12" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card bg-transparent" style="margin-top:50px">
                <div class="card-header">
                    <h3 class="card-title">Сброс пароля</h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary"> Сбросить пароль </button>
                    <a href="{% url 'users:login' %}" class="btn btn-mute"> Отмена </a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}