{% extends 'mailing/base.html' %}
{% block content %}
<div class="col">
    <form class="row" method="post" enctype="multipart/form-data">
      <div class="col-3"></div>
        <div class="col-6">
            <div class="card bg-transparent" style="margin-top:50px">
                <div class="card-header">
                    <h3 class="card-title">Сброс пароля</h3>
                </div>
                <div class="card-body">
                    <a> На ваш email отправлен новый пароль </a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary"> Перейти на страницу авторизации </a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}