{% extends 'mailing/base.html' %}
{% block content %}
<div class="col">
    <form class="row" method="post" enctype="multipart/form-data">
      <div class="col-3"></div>
        <div class="col-6">
            <div class="card bg-transparent">
                <div class="card-header">
                    <h3 class="card-title">Активация профиля</h3>
                </div>
                <div class="card-body">
                    <a> На ваш email отправлена сслыка для активации профиля</a>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}