{% extends 'mailing/base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    <div class="row" style="margin-top:50px">
        <div class="col-6">
            <div class="card bg-transparent">
                <div class="card-header">
                    <h4 class="card-title">Профиль {{ object.email }}</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        Редактировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}